# goals.config
cw1_sweep = boolean : (_cw1_csv or _cw1_csv)
cw2_formula = boolean : (_cw2_formula or _cw2_formula)
cw3_min = boolean : (_cw3_min or _cw3_min)
cw4_capacity = boolean : (_cw4_cap or _cw4_cap)
cw5_timing = boolean : (_cw5_time or _cw5_time)
cw6_multi = boolean : (_cw6_music and _cw6_speech and _cw6_noise)
cw7_summary = boolean : (_cw7_summary and _cw7_optimal)
cw8_plot = boolean : (_cw8_plot or _cw8_plot)
