# goals.config
# 
# Please see the Labtainer Lab Designer User Guide

cw1_freqmap = boolean : (_cw1_freq or _cw1_freq)
cw2_sweep = boolean : (_cw2_sweep or _cw2_sweep)
cw3_amplitude = boolean : (_cw3_amp or _cw3_amp)
cw4_boost = boolean : (_cw4_boost or _cw4_boost)
cw5_speech = boolean : (_cw5_speech and _cw5_diff)
cw6_safezone = boolean : (_cw6_safe or _cw6_safe)
cw7_nyquist = boolean : (_cw7_nyquist or _cw7_nyquist)
cw8_plot = boolean : (_cw8_plot or _cw8_plot)
